<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <h2>Login</h2>
  <form th:action="@{/login}" method="post">
    <div th:if="${param.error}">
      <div class="alert alert-danger">Invalid username or password.</div>
    </div>
    <div th:if="${param.logout}">
      <div class="alert alert-info">You have been logged out.</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="username" placeholder="Email" required autofocus/>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <div>
    <span>New user? <a th:href="@{/registration}">Register here</a></span>
  </div>
</div>
</body>
</html>